<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/table2csv@1.1.3/src/table2csv.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Script Util -->
<script src="js/module/util/util.js"></script>

<!-- Script MAIN PAE-->
<script src="js/enums.js"></script>
<script src="js/main.js"></script>

<!-- MyScripts FOR VIEWS -->
<script src="js/module/view/login.js"></script>
<script src="js/module/view/logout.js"></script>
<script src="js/module/view/refresh.js"></script>
<script src="js/module/view/register.js"></script>


<!-- MyScripts FOR USER -->
<script src="js/module/user/user.js"></script>
<script src="js/module/user/mobility.js"></script>
<script src="js/module/user/mobilityChoice.js"></script>
<script src="js/module/user/partners.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

</body>

</html>
