<div class="modal fade" id="logoutModal" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Prêt à partir ?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="false">×</span>
        </button>
      </div>
      <div class="modal-body">Sélectionnez <span style="color: rgb(85,117,212); font-weight:bold">"Logout"</span> ci-dessous si vous êtes prêt à mettre fin à
        votre session en cours.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
        <a class="btn btn-primary" href="" id="btn_logout">Logout</a>
      </div>
    </div>
  </div>
</div>
